Repository arturo-lang/pkgr.art, pull requests merged in 2024-04, with the labels that each got.

#53 Added Grafito
  packages/list.art
Labels: new package

#54 Test executables
  README.md
Labels: enhancement, website

#55 Minor style enhancements
  tools/generateweb.art
  tools/getrepodetails.art
  website/package.html
  website/style.scss
Labels: enhancement, website

#56 (Not-so-)Minor website enhancements
  packages/info/grafito.art
  packages/version/dummy.art
  packages/version/grafito.art
  packages/version/states.art
  packages/version/unidecode.art
  packages/version/unitt.art
  public/style.css
  public/style.css.map
  tools/generateweb.art
  tools/getrepodetails.art
  website/components/footer.html
  website/components/header.html
  website/components/package-box.html
  website/components/search.html
  website/index.html
  website/package.html
  website/script.js
  website/style.scss
Labels: enhancement, website

#57 More minor website enhancements
  tools/generateweb.art
  tools/gfm.rb
  website/components/footer.html
  website/components/header.html
  website/components/search.html
  website/package.html
  website/script.js
  website/style.scss
Labels: enhancement, website

#58 Add `html.art` package
  packages/list.art
Labels: new package

#59 Add `mimetypes` package
  packages/list.art
Labels: new package

#60 Add information about package size
  tools/getrepodetails.art
Labels: enhancement

#61 Add proper package thumbnails
  .github/workflows/deploy.yml
  tools/generateweb.art
  website/components/header.html
  website/package.html
  website/resources/Inter-Bold.ttf
  website/resources/Inter-Regular.ttf
  website/resources/trans_logo.png
  website/resources/user_icon.png
  website/script.js
Labels: enhancement, website

#62 Fix thumbnails
  website/components/header.html
  website/package.html
  website/script.js
Labels: enhancement, website

#65 Reinstate favicon
  tools/generateweb.art
  website/android-chrome-192x192.png
  website/android-chrome-512x512.png
  website/apple-touch-icon.png
  website/browserconfig.xml
  website/components/header.html
  website/favicon-16x16.png
  website/favicon-32x32.png
  website/favicon.ico
  website/mstile-150x150.png
  website/safari-pinned-tab.svg
  website/site.webmanifest
Labels: bug, website
