Repository arturo-lang/pkgr.art, pull requests merged in 2024-02, with the labels that each got.

#43 Add `states` package
  packages/list.art
Labels: new package, ready to merge

#45 Misc UI & Website fixes
  tools/generateweb.art
  tools/gfm.rb
  website/index.html
  website/style.scss
Labels: enhancement, website, ready to merge

#46 Add `unidecode` package
  packages/list.art
Labels: new package, ready to merge

#47 Update style for horizontal dividers
  website/style.scss
Labels: enhancement

#48 Also filter `arturo-package` from tags
  tools/generateweb.art
Labels: enhancement, website
